* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
}

p.chicken, p.beef, p.sushi {
  display: inline-block;
  border: 1px solid black;
  width: 160px;
  height: 25px;
  text-align: center;
  position: relative;
  left: 159px;
  top: -1px;
}


.chicken  {
  background-color: rosybrown;
}

.beef {
  color: white;
  background-color: red;
}

.sushi {
  background-color: yellow;
}

.container {
  background-color: blue;
}


section {
  border: 1px solid black;
  background-color: grey;
  margin : 5px 5px 5px 40px;
  width: 320px;
  float: left;
}

#content {
  margin : 5px 5px 5px 5px
}




@media only screen and (min-width: 992px) {
  section.box-1, section.box-2, section.box-3 {
    float: left;
    width: 270px;
    margin: 5px, 10px, 5px, 10px;
  }

  p.chicken, p.beef, p.sushi {
    position: relative;
    left: 109px;
    top: -1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  
  .box-1 {
    width: 330px;
    height: 200px;
    float: left;
    margin-left: 50px;
  }

  .box-2  {
    width: 330px;
    height: 200px;
    float:left;
    margin-left: 21%;
  }

  .box-3 {
    margin-left: 50px;
    width: 860px;
    clear: left;
  }

  p.chicken {
    position: relative;
    left: 169px;
  }

  p.beef {
    position: relative;
    left: 169px;
  }
  p.sushi {
    position: relative;
    left: 699px; 
    
    /* tadi ini 720 */
  }

  
}

@media only screen and (max-width: 767px) {

  div.container {
    background-color: white;
  }

  h1 {
    margin-bottom : 15px;
  }
}
  
















  







